@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0;}
body,div,p,a,span,ul,li,strong,img{ border:0;text-decoration:none; list-style:none; font-family:simsun;}
*html,*html body{ background-image:url(about:blank); background-attachment:fixed;}
img { border: 0 none; -ms-interpolation-mode: bicubic; }
.clear{ clear:none}
.hidden{ display:none}
.head{ width:1000px; height:105px; overflow:hidden; margin:0 auto; background:#fff;}
.head p{ width:158px; height:67px; overflow:hidden; float:left; background:url(../images/u2325.png) no-repeat; margin-top:15px; cursor:pointer;}
.head samp{ width:300px; height:30px; font:16px/30px "microsoft yahei"; color:#666; float:left; margin-left:10px; overflow:hidden; margin-top:35px;}
.head span{ width:185px; height:33px;float:right; overflow:hidden; margin-top:35px; background:url(../images/dh.png) no-repeat; }
.top{ width:100%; height:50px; overflow:hidden; background:#fb8044;}
.top_t{ width:1000px; height:50px; margin:0 auto; overflow:hidden;}
.top_t ul{ width:1000px; height:50px; overflow:hidden; display:block;}
.top_t li{ width:200px; height:50px; font:18px/50px "Microsoft YaHei"; color:#fff; overflow:hidden; text-align:center; float:left;}
.top_t li a{ color:#fff;}
.top_t li:hover{ background:#fd9b55;}
.top_t .bj{ background:#fd9b55}
.war{ width:auto; height:auto; background:#efefef; overflow:hidden;}
.banner{ width:1200px; height:375px; margin:0 auto; overflow:hidden; z-index:100; position:relative;}
.banner ul{ width:1200px; height:375px; display:block;}
.banner li{ width:1200px; height:375px; float:left;}
.banner li a{ width:1200px; height:375px; overflow:hidden; display:block;}
.banner .btn{ width:150px; height:8px; overflow:hidden; bottom:72px; left:43.5%; z-index:999; position:absolute;}
.banner .btn span{ width:38px; height:10px; float:left; margin-left:10px;overflow:hidden; background:url(../images/bj.png) repeat; cursor:pointer;}
.banner .btn .bbj{ background:#fb8044;}
.home_text{ width:1000px; height:auto; z-index:9999; margin:-40px auto 0;overflow:hidden; position:relative; }
.home_box1{ width:1000px; height:295px; overflow:hidden; float:left; text-align:center; font:30px/360px "Microsoft YaHei";}
.home_box1 img{ width:1000px; height:295px;}
.home_box2{ width:1000px; height:35px; float:left; color:#555; font:12px/35px "Microsoft YaHei"; text-indent:25px; margin-top:10px; background: #fac697 url(../images/guangbo.png) 5px center no-repeat;}
.home_box3{ width:705px; height:570px; overflow:hidden; float:left; margin-top:10px; background:#fff; margin-top:10px; text-align:center; font:24px/360px "Microsoft YaHei";}
.home_box3 img{ width:705px; height:570px;}
.home_box4{ width:677px; height:451px;  margin-top:10px;overflow:hidden; float:left; background:#fff;}
.home_box4 img{ width:677px; height:451px;}
.home_box5{ width:1000px; height:133px; margin-top:10px;overflow:hidden; float:left;}
.home_box5 img{ width:1000px; height:133px;}
.home_box6{ width:315px; height:451px; margin-top:10px;overflow:hidden; float:right;}
.home_box6 img{ width:315px; height:451px;}
.footer{ width:auto; height:auto; background:#434343; overflow:hidden; margin-top:10px;padding-bottom:20px;}
.foot{ width:1000px; height:auto; overflow:hidden; margin:20px auto 0;position:relative; }
.f_left{ width:370px; height:170px; border:solid #fff 1px; float:left; margin-top:20px; }
.f_left h1{ width:148px; height:47px; overflow:hidden; position:absolute; z-index:999; left:25px; top:0px; margin-top:0;}
.f_left h1 img{ width:148px; height:auto;}
.f_left p{ width:175px; height:auto; overflow:hidden; float:left; font:14px/23px "microsoft yahei"; color:#fff; margin-top:30px; margin-left:20px;}
.f_left p samp{ width:175px; height:auto; overflow:hidden; font:bold 16px/23px "microsoft yahei"; color:#fff; margin-bottom:5px; float:left; margin-top:5px;}
.f_left dl{ width:95px; height:auto; float:right; overflow:hidden; display:block; margin-top:35px; margin-right:30px;}
.f_left dt{ width:95px; height:95px; overflow:hidden;}
.f_left dt img{ width:95px; height:95px;}
.f_left dd{ width:95px; height:30px; overflow:hidden; font:12px/30px "microsoft yahei"; color:#fff; text-align:center;}
.foot span{ width:450px; height:60px; font:14px/30px "Microsoft YaHei"; color:#fff; text-align:right; overflow:hidden; float:right; margin-top:125px;}
.foot span a{ color:#fff;font:14px/30px "Microsoft YaHei";}
.foot span a:hover{ color:#fd9b55; text-decoration:underline;}
.bton{ margin-top:25px;}
.foot-link{ width:1000px; height:auto; overflow:hidden; margin:10px auto 0;}
.foot-link dl{ width:1000px; height:auto; overflow:hidden; display:block; margin-top:0;}
.foot-link dt{ width:75px; height:30px; font:14px/30px "microsoft yahei"; color:#fff; float:left; text-align:right;}
.foot-link dd{ width:920px; height:auto; overflow:hidden; float:right; font:14px/30px "microsoft yahei"; color:#fff; margin-bottom:20px; text-align:left;}
.foot-link dd a{font:14px/30px "microsoft yahei"; color:#fff; margin-left:10px; margin-right:10px;}
.foot-link dd a:hover{ color:#ff6600;}
.share{ width:60px; height:100px; background:#fff; border:solid #ebebeb 1px; position:fixed; bottom:80px; right:10px; z-index:9999;}
.share p{ width:60px; height:50px; overflow:hidden; background:url(../images/qq.png) no-repeat center; border-bottom:solid #ebebeb 1px; cursor:pointer; float:left;}
.share span{ width:60px; height:50px; overflow:hidden; background:url(../images/ding.png) no-repeat 15px -1px;cursor:pointer; float:left;}

/*-----贷款中心-----*/
.loan{ width:1000px; height:auto; overflow:hidden; margin:20px auto 0; background:#fff; border:solid #e4e4e4 1px; padding:25px 30px;}
.loan p{ width:940px; height:40px; overflow:hidden; float:left;}
.loan p span{ width:110px; height:40px;font:15px/40px "Microsoft YaHei"; color:#333; overflow:hidden; float:left; text-align:right;}
.loan p a{ margin-left:30px;font:15px/40px "Microsoft YaHei"; float:left;color:#333 }
.loan p a:hover{ color:#fd9b55;}
.loan .l_on{ color:#fd9b55;}
.loan .dai1{background:url(../images/dai.png) 0 center no-repeat;}
.loan .dai2{background:url(../images/dai1.png) 0 6px no-repeat;}
.loan .dai3{background:url(../images/dai2.png) 0 center no-repeat;}
.loan_txt{ width:1000px; height:auto; padding:0px 30px 60px 30px;border:solid #e4e4e4 1px; background:#fff; margin:10px auto 0; overflow:hidden;}
.loan_t{ width:940px; height:auto; overflow:hidden; float:left;}
.loan_t dl{ width:940px; height:135px; margin-top:25px; display:block; float:left; overflow:hidden; border-bottom:dashed #e4e4e4 1px;}
.loan_t dt{ width:730px; height:135px; overflow:hidden; float:left;}
.loan_t dt p{ width:730px; height:30px; overflow:hidden; float:left; font:16px/30px "Microsoft YaHei"; color:#333;}
.loan_t dt span{ width:240px; height:70px; overflow:hidden; float:left; margin-top:10px;}
.loan_t dt span samp{ width:240px; height:30px; overflow:hidden; float:left; font:14px/30px "Microsoft YaHei"; color:#666; }
.loan_t dt span font{ width:240px; height:30px; font:24px/30px "Microsoft YaHei"; color:#FB8044; margin-top:5px; float:left;}
.loan_t dt span font b{ width:30px;font:14px/20px "Microsoft YaHei"; color:#333; font-weight:normal; margin-left:10px;}
.loan_t dd{ width:165px; height:38px; float:right; background:#fb8044; text-align:center; font:18px/38px "Microsoft YaHei"; color:#fff; margin-top:35px;}
.loan_t dd a{ color:#fff;}
.list_page{ width:100%; height:32px; overflow:hidden; clear:both; text-align:center; float:left; margin-top:40px;}
.list_page a{ text-align:center; border:solid #fd9b55 1px;font:15px/32px "Microsoft YaHei"; color:#fd9b55; width:32px; height:32px; padding:5px 11px;margin: 0 5px 0 5px;}
.list_page a:hover{ background:#fb8044; color:#fff;}
.list_page .fen{ background:#fb8044; color:#fff;}

/*----贷款----*/
.title{ width:1000px; height:60px; overflow:hidden; margin:20px auto 0; background:#fff; font:18px/60px "Microsoft YaHei"; border:solid #e4e4e4 1px; padding:0 25px;}
.product{ width:1000px; height:auto; overflow:hidden; margin:10px auto 0; background:#fff; border:solid #e4e4e4 1px; padding:5px 25px 20px 25px;}
.product_form{ width:950px; height:auto; overflow:hidden; float:left; border-bottom:solid #e4e4e4 1px; margin-top:10px;}
.product_form samp{ width:950px; height:40px; float:left; border-bottom:solid #e4e4e4 1px;}
.product_form samp font{ font:14px/39px "Microsoft YaHei"; border-bottom:solid #fb8044 3px; color:#515151; float:left;}
.product_form p{ font:14px/20px "Microsoft YaHei"; color:#333; float:left; width:950px;} 
.product_form span{ font:14px/25px "Microsoft YaHei"; color:#333; padding:10px 0; float:left; width:950px;} 
.bor{ border:none;}
.cation{ width:1000px; height:auto; overflow:hidden; margin:15px auto 0; background:#fff; border:solid #e4e4e4 1px; padding-bottom:60px;}
.cation_c{ width:450px; height:auto; overflow:hidden; margin:50px auto 0; }
.cation_c dl{ width:450px; height:auto; overflow:hidden; display:block; float:left; margin-bottom:15px;}
.cation_c dt{ width:75px; height:30px; font:14px/30px "Microsoft YaHei"; color:#333; float:left; text-align:right;}
.cation_c dd{ width:360px; height:auto; overflow:hidden; float:left; margin-left:15px;}
.cation_c dd font{ width:155px;font:14px/30px "Microsoft YaHei"; color:#333; float:left;}
.cation_c dd span{font:14px/30px "Microsoft YaHei"; color:#999; float:left;}
.cation_c .box{ width:278px; height:30px; overflow:hidden; border:solid #dcdcdc 1px; border-radius:2px;font:14px/30px "Microsoft YaHei"; color:#000; float:left;}
.cation_c .b_on{width:240px; height:30px; overflow:hidden; border:solid #dcdcdc 1px; border-radius:2px;font:14px/30px "Microsoft YaHei"; color:#000; float:left; margin-right:10px;}
.cation_c .box1{ width:124px; height:30px; overflow:hidden; border:solid #dcdcdc 1px; border-radius:2px; background:none; float:left;font:14px/30px "Microsoft YaHei";}
.cation_c .box2{ width:124px;height:30px; overflow:hidden; float:left; margin-right:28px;font:14px/30px "Microsoft YaHei";}
.cation_c input{ color:#999; text-indent:5px;}
.cation_c .box3{ width:150px;height:auto; overflow:hidden; float:left; margin-left:28px;}
.cation_c .box4{ width:90px;  height:30px; overflow:hidden; border:solid #dcdcdc 1px; border-radius:2px; background:none; float:left; margin-right:10px; color:#000;}
.cation_c .box5{ width:290px;height:75px;border:solid #dcdcdc 1px;font:14px/20px "Microsoft YaHei"; color:#000; float:left;}
.cation_c .box6{ height:auto;}
.cation_c .box7{ width:130px; height:30px;border:solid #dcdcdc 1px;font:14px/30px "Microsoft YaHei"; color:#000; float:left;}
.cation_c .box8{ width:125px; height:30px;border:none;font:14px/30px "Microsoft YaHei"; color:#fff; text-align:center; background:#fb8044; float:left; margin-left:23px;}
.cation_c p{ width:330px; height:50px; overflow:hidden; font:13px/20px "Microsoft YaHei"; float:right;color:#fb8044; margin-right:30px; margin-top:-10px;}
.cation_c samp{ width:240px; height:40px; background:#fb8044; margin-top:15px; margin-left:90px; overflow:hidden; float:left;}
.cation_c button{ width:240px; height:40px; background:none; font:16px/40px "Microsoft YaHei"; color:#fff; border:none; cursor:pointer;}
.cation_c .c_shu{ width:60px; height:30px; font:14px/30px "microsoft yahei"; color:#999; float:right; margin-top:40px;}

/*----收徒指南-----*/
.advisory{ width:1000px; height:auto; overflow:hidden; margin:20px auto 0; background:#fff; padding:25px 30px 5px 30px; min-height:600px;}
.advisory_t{ width:940px; height:30px; overflow:hidden; float:left;}
.advisory_t h1{ width:940px; height:30px; overflow:hidden;font:22px/30px "Microsoft YaHei"; color:#333; float:left; margin-bottom:10px; }
.advisory_text{ width:940px; height:auto; overflow:hidden; float:left;}
.advisory_text h1{width:940px; height:30px; overflow:hidden;font:22px/30px "Microsoft YaHei"; color:#333; margin-bottom:10px; margin-top:0;}
.advisory_text p{ line-height:normal; font-size:14px; font-family:"Microsoft YaHei"; color:#333;text-indent:30px; margin-bottom:15px;}
.orders{ width:100%; height:100%; position:fixed; left:0; top:0; z-index:99999;background: rgba(0,0,0,.5);}
.orders_butt{ width:440px; height:240px; overflow:hidden; background:#fff; left:50%; top:50%; position:absolute;margin-left:-200px; margin-top:-90px;}
.orders_butt p{ width:440px; height:30px; font:14px/30px "microsoft yahei"; color:#666; text-align:center; border-bottom:solid #dcdcdc 1px; float:left; position:relative;}
.orders_butt font{ width:9px; height:11px;  background:url(../images/guan.png) center no-repeat; position:absolute; z-index:9; top:10px; right:15px;}
.orders_butt dl{ width:250px; height:80px; overflow:hidden; display:block; float:left; margin-top:40px; margin-left:80px;}
.orders_butt dt{ width:64px; height:64px; overflow:hidden; float:left;}
.orders_butt dt img{ width:64px; height:64px;}
.orders_butt dd{ width:170px; height:80px; overflow:hidden; float:right;}
.orders_butt dd span{ width:170px; height:30px; overflow:hidden; float:left; font:18px/30px "microsoft yahei"; color:#666; text-align:center;}
.orders_butt dd span:nth-child(2n){ font-size:14px;}
.orders_mon{ width:440px; height:32px; overflow:hidden; float:left; margin-top:-10px;}
.orders_mon samp{width:110px; height:25px; overflow:hidden; float:left; font:16px/25px "micosoft yahei"; color:#fb8044; border:solid #fb8044 1px; text-align:center; margin-left:190px; cursor:pointer;}
.level_fage{ height:auto; float:right; margin-top:30px; overflow:hidden;}
.level_fage ul{ overflow:hidden; height:35px; display:block; float:right;}
.level_fage li{ float:right; overflow:hidden; font:14px/25px "microsoft yahei"; color:#666; text-align:center; padding:2px 13px; border:solid #ebebeb 1px; border-right:none;}
.level_fage li:hover{ color:#fff;background:#fb8044;}
.level_fage .f_ye{ border:none;}
.level_fage .f_ye1{ border:solid #ebebeb 1px;}
.level_fage .f_ye2{ width:55px; height:29px; border:none; font:14px/25px "microsoft yahei";}
.level_fage .f_ye3{ padding:0; border:solid #ebebeb 1px;}
.level_fage .f_ye4{ background:#fb8044; color:#fff; border-radius:3px;}
.level_fage .f_ye5{ background:#f4f4f4}
.inputtext{font:14px/28px "Microsoft YaHei"; color:#666; float:left; width:30px;}
.inputtextn{border:none;background:#fff;}
.wonderful{ width:1000px; height:auto; overflow:hidden; margin:20px auto 0; background:#fff;min-height: 600px; padding-bottom:20px;}
.wonderful-ul{width:1000px; height:auto; overflow:hidden;}
.wonderful-ul dl{ width:940px; height:auto; overflow:hidden; margin-top:30px; margin-left:30px; display:block; border-bottom:dashed #dcdcdc 1px;}
.wonderful-ul dt{ text-indent:15px; width:940px; height:35px; overflow:hidden; font:bold 24px/35px "microsoft yahei"; color:#333; border-left:solid #ff6600 3px;}
.wonderful-ul dd{ width:940px; height:auto; overflow:hidden; font:14px/23px "microsoft yahei"; margin-top:15px; color:#333; margin-bottom:25px;}
.won{ margin-bottom:30px; margin-right:30px;}
.fdjuhu{ width:auto; height:auto; overflow:hidden; background:#fff;}